name: Test Docs Deployment

on:
  pull_request:
    branches:
      - master
      - main
    paths:
      - 'docusaurus/**'

jobs:
  test-deploy:
    name: Test deployment
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./docusaurus
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: docusaurus/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Test build website
        run: npm run build
